<div class="content-page">
  <div class="form-login">
  <mat-form-field class="inputsForm">
    <input matInput placeholder="usuario o email" name="user">
  </mat-form-field>

  <mat-form-field class="inputsForm">
    <input matInput placeholder="contraseña" type="password" name="password">
  </mat-form-field>

  <button mat-raised-button color="primary" class="buttonForm">LOG IN</button>
  <div class="register">
  <a routerLink="/login/register"><span>crear cuenta,</span></a> <span>Terminos de privacidad</span>
  </div>
  </div>
</div>
