<div class="content-page">
  <div class="form-login">
    
    <form (ngsubmit) = "login()" [formGroup]="loginForm">
      <mat-form-field class="inputsForm">
        <input matInput placeholder="usuario o email"  formControlName="user">
      </mat-form-field>

      <mat-form-field class="inputsForm">
        <input matInput placeholder="contraseña" type="password" formControlName="password">
      </mat-form-field>

      <button mat-raised-button color="primary" class="buttonForm" (click)="login()">LOG IN</button>
      <div class="register">
        <a routerLink="/login/register"><span>crear cuenta,</span></a> <span>Terminos de privacidad</span>
        <h2>{{mensaje}}</h2>
      </div>
    </form>
    
  </div>
</div>
