<div class='content-page'>

<!--<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>-->
<mat-vertical-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="datosFormGroup">
    <form [formGroup]="datosFormGroup">
      <ng-template matStepLabel>Nos gustaria conocerte</ng-template>
      <div>
      <mat-form-field>
        <input matInput placeholder="Nombres" formControlName="names" required>
      </mat-form-field>
      </div>
      <div>
      <mat-form-field>
        <input matInput placeholder="apellidos" formControlName="lastNames" required>
      </mat-form-field>
      </div>
      <div>
      <mat-form-field>
        <input matInput placeholder="Cedula" formControlName="id" required>
      </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="contactoFormGroup">
    <form [formGroup]="contactoFormGroup">
      <ng-template matStepLabel>Como podemos contactarte? </ng-template>
      <div>
      <mat-form-field>
        <input matInput placeholder="email" formControlName="email" required (blur)="validationEmail()">
      </mat-form-field>
      </div>
      <span class="message-alert">{{mensajeEmail}}</span>
      <div>
      <mat-form-field>
        <input matInput placeholder="telefono" formControlName="phone" required type="tel">
      </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperPrevious>Atras</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="loginFormGroup">
    <form [formGroup]="loginFormGroup">
    <ng-template matStepLabel>como te gustaria iniciar sesion</ng-template>
    <div>
    <mat-form-field>
        <input matInput placeholder="usuario" formControlName="user" required  (blur)="validationUser()">
    </mat-form-field>
    </div>
    <span class="message-alert">{{mensajeUser}}</span>
    <div>
    <mat-form-field>
        <input 
        matInput placeholder="contraseña debe contener minimo (6)caracteres" 
        formControlName="password" 
        required type="password" 
        id="pass"> 
    </mat-form-field>
    </div>
    <div>
    <mat-form-field>
        <input 
        matInput placeholder="confirme contraseña debe contener minimo (6) caracteres" 
        formControlName="passwordVerificate" 
        required type="password" 
        id="psswd"
        (blur)="validatePass()"
        >
    </mat-form-field>
    </div>
    <span class="message-alert">{{mensajePass}}</span>
    <div>
      <button mat-button matStepperPrevious>Atras</button>
      <button mat-button (click)="stepper.reset()">reset</button>
      <button [disabled]="!isValidUser" mat-button (click)="register()" >Registarme</button>
    </div>
    </form>
    <h2 class="message-alert">{{mensaje}}</h2>
  </mat-step>
</mat-vertical-stepper> 

</div>>