<div class='content-page'>

<!--<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>-->
<mat-vertical-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Nos gustaria conocerte</ng-template>
      <div>
      <mat-form-field>
        <input matInput placeholder="Nombres" formControlName="name" required
        [(ngModel)]="dataRegister.names">
      </mat-form-field>
      </div>
      <div>
      <mat-form-field>
        <input matInput placeholder="apellidos" formControlName="lastName" required
        [(ngModel)]="dataRegister.lastNames">
      </mat-form-field>
      </div>
      <div>
      <mat-form-field>
        <input matInput placeholder="Cedula" formControlName="cedula" required
        [(ngModel)]="dataRegister.id">
      </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Como podemos contactarte? </ng-template>
      <mat-form-field>
        <input matInput placeholder="email" formControlName="mail" required
        [(ngModel)]="dataRegister.email">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="telefono" formControlName="phone" required type="tel"
        [(ngModel)]="dataRegister.phone">
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Atras</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="threeFormGroup">
    <form [formGroup]="threeFormGroup">
    <ng-template matStepLabel>como te gustaria iniciar sesion</ng-template>
    <div>
    <mat-form-field>
        <input matInput placeholder="usuario" formControlName="user" required
        [(ngModel)]="dataRegister.user">
    </mat-form-field>
    </div>
    
    <div>
    <mat-form-field>
        <input 
        matInput placeholder="contraseña" 
        formControlName="password" 
        required type="password" 
        id="pass"
        ([ngModel])="dataRegister.password"> 
    </mat-form-field>
    </div>
    <div>
    <mat-form-field>
        <input 
        matInput placeholder="confirme contraseña" 
        formControlName="passwordVerificate" 
        required type="password" 
        id="psswd"
        >
    </mat-form-field>
    </div>
  
    <div>
      <button mat-button matStepperPrevious>Atras</button>
      <button mat-button (click)="stepper.reset()">reset</button>
      <button mat-button (click)="register(threeFormGroup.value)" >Registarme</button>
    </div>
    </form>
    <h2>{{mensaje}}</h2>
  </mat-step>
</mat-vertical-stepper> 

</div>>