.content-page {
    overflow-y: auto;
    height: max-content;
    margin-top: 63px;
    padding-top: 0%;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    
}
#list-cart {
    overflow-y: auto;
    max-height: 18em;
}
.buttons-option button {
    margin-right: 8px;
}
.del-button {
    cursor: pointer;
}