.tab-main {
  max-width: 80%;
  text-align: left;
  margin: 0% auto;
}

.product-card {
  width: 200px;
  max-height: 330px;
  min-height: 330px;
  float: left;
  margin: 3pt;
  }
  .cardIcon {
    color: yellow;
  }
  .cardIcon:hover {
    color: #000;
  }
  .cardButton:hover {
    color: chartreuse;
  }
  #description-product {
    height: 80px;
    overflow-y: auto;
  }
  .img-product {
    max-height: 120px;
    max-width: 120px;
  }
  .action-product {
    position: absolute;
    bottom: 25px;
  }

  a button.selected {
    background-color: red;
    color: white;
  }
  
@media (max-width: 800px) {
  .tab-main {
    max-width: 100%;
    text-align: left;
    margin: 0% auto;
  }
  
}
