<mat-tab-group class="tab-main">
  <mat-tab *ngFor="let category of categorys" label="{{category.nombre}}">
    <!--<app-card-content *ngFor='let product of category.products' [title]= "product.nameProduct" ></app-card-content>-->

    <mat-card class="product-card" *ngFor="let product of category.products">
        <mat-card-header>
          <!--<div mat-card-avatar class="example-header-image"></div>-->
          <mat-card-title>{{product.nameProduct}}</mat-card-title>
          <mat-card-subtitle> {{product.price | currency:'COP':'$ ':'1.1-2'}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src= {{product.urlImage}} alt=''>
        <mat-card-content>
          <p>
            {{product.descriptionProduct}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a routerLink = "/detalle/detail/{{product.Idproduct}}"><button mat-button>DETALLES</button></a>
          <button mat-button><mat-icon class="example-icon">add_shopping_cart</mat-icon></button>
        </mat-card-actions>
      </mat-card>      

  </mat-tab>

</mat-tab-group>

