<mat-tab-group class="tab-main">
  <mat-tab *ngFor="let category of categorys" label="{{category.nombre}}">
    <!--<app-card-content *ngFor='let product of category.products' [title]= "product.nameProduct" ></app-card-content>-->

    <mat-card class="product-card" *ngFor="let product of category.products">
        <mat-card-header>
          <!--<div mat-card-avatar class="example-header-image"></div>-->
          <mat-card-title>{{product.nameProduct}}</mat-card-title>
          <mat-card-subtitle> {{product.price | currency:'COP':'$ ':'1.1-2'}}</mat-card-subtitle>
        </mat-card-header>
        <img class="img-product" mat-card-image src= {{product.urlImage}} alt=''>
        <mat-card-content>
          <div class="description-product">
          <p>
            {{product.allDescriptionProduct | truncateText:20 }}
          </p>
          
          </div>
        </mat-card-content>
        <mat-card-actions class="action-product">
          <a routerLink = "/detalle/detail/{{product.Idproduct}}"><button mat-raised-button >DETALLES</button></a>
          <button *ngIf="statusLog" mat-raised-button class="cardButton" aria-label="comprar" color="primary"
           (click)="setCar(product.Idproduct, product.nameProduct, product.price, product.descriptionProduct, product.urlImage)"><mat-icon class="cardIcon">add_shopping_cart</mat-icon></button>
           <a routerLink = "/login" *ngIf="!statusLog"> <button  mat-raised-button class="cardButton" aria-label="comprar" color="primary"><mat-icon class="cardIcon">add_shopping_cart</mat-icon></button></a>
        </mat-card-actions>
      </mat-card>      

  </mat-tab>

</mat-tab-group>

