<mat-toolbar color="primary" class="top-toolbar" [class.mat-elevation-z8]>
  <mat-toolbar-row>
    <span>HV Distritec</span>
    <span class="example-spacer"></span>
    <a routerLink='/' class="menuLinks" routerLinkActive="active"><mat-label class="example-icon">INICIO</mat-label></a>
    <app-input-search></app-input-search>

    <mat-icon class="example-icon">add_shopping_cart</mat-icon>
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
      <mat-menu #menu="matMenu">
       <a *ngIf="!statusLog" routerLink='/login'> <button mat-menu-item>Iniciar sesion</button></a>
       <a *ngIf="statusLog" routerLink='/login'> <button mat-menu-item>Cerrar sesion</button> </a>
       <a routerLink='/info'> <button mat-menu-item>Quienes somos{{statusLog}}</button></a>
      </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
