/* You can add global styles to this file, and also import other style files */


@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*color azulhv: 00aff0  */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; text-align: center; overflow-y: hidden }


.container {
  overflow-y: auto;
}

@media (max-width: 800px) {

    body {
      font-size: 1em;
    }


}
